@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Range the variable font supports */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Italic-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  color-scheme: light dark;

  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(220 38% 97%);
  --clr-neutral-300: hsl(217 59% 74%);
  --clr-neutral-400: hsl(220 12% 40%);
  --clr-neutral-500: hsl(214 26% 32%);
  --clr-neutral-600: hsl(215 24% 26%);

  --clr-primary-200: hsl(278 100% 95%);
  --clr-primary-300: hsl(285 90% 75%);
  --clr-primary-400: hsl(285 90% 56%);

  --clr-accent-1: hsl(153 68% 50%);
  --clr-accent-2: hsl(0 78% 63%);

  --clr-shadow-1: hsl(220 29% 66% / 0.14);
  --clr-shadow-2: hsl(216 25% 25% / 0.14);

  --clr-text-primary: light-dark(var(--clr-neutral-600), var(--clr-neutral-100));
  --clr-text-secondary: light-dark(var(--clr-neutral-400), var(--clr-neutral-300));
  --clr-surface-primary: light-dark(var(--clr-neutral-200), var(--clr-neutral-600));
  --clr-surface-secondary: light-dark(var(--clr-neutral-100), var(--clr-neutral-500));
  --clr-box-shadow: light-dark(var(--clr-shadow-1), var(--clr-shadow-2));

  --ff-base: "Rubik", Arial, Helvetica, sans-serif;

  --fs-400: calc(20 / 16 * 1rem);
  --fs-500: calc(24 / 16 * 1rem);
  --fs-600: calc(28 / 16 * 1rem);
  --fs-700: calc(36 / 16 * 1rem);
  --fs-800: calc(64 / 16 * 1rem);
  --fs-900: calc(144 / 16 * 1rem);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* General Styles */

body[data-theme="light"] {
  color-scheme: light;
}

body[data-theme="dark"] {
  color-scheme: dark;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  color: var(--clr-text-primary);
  background: var(--clr-surface-primary);
}

/* Layout */
.flow-content > * + * {
  margin-block-start: var(--flow-spacer, 1rem);
}

.flex-center {
  display: flex;
  gap: var(--flex-gap, 1rem);
  align-items: center;
}

/* Utilities */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}

.hidden {
  display: none;
}

/* Components */

/* Block */
