:root{
    /* Colors */
    --purple: #A729F5;
    --dark-navy: #313E51;
    --navy: #3B4D66;
    --grey-navy: #626C7F;
    --light-bluish: #ABC1E1;
    --light-grey: #F4F6FA;
    --pure-white: #FFFFFF;
    --green: #26D782;
    --red: #EE5454;

    /* Light Dark Mode Variables */
    --primary-text: var(--pure-white);
    --secondary-text: var(var(--light-bluish));
    --background-color: var(--dark-navy);
    --button-background: var(--navy);
    --box-shadow: #3B4D6614;
    --background-img: url(./assets/images/pattern-background-desktop-dark.svg);

    /* Font sizes */
    --fs-large-heading: 4rem;
    --fs-medium-heading: 2.25rem;
    --fs-small-heading: 1.75rem;
    --fs-body: 0.75rem;
}

.lightmode{
    --primary-text: var(--dark-navy);
    --secondary-text: var(var(--grey-navy));
    --background-color: var(--light-grey);
    --button-background: var(--pure-white);
    --box-shadow: #8FA0C114;
    --background-img: url(./assets/images/pattern-background-desktop-light.svg);
}

@font-face {
    font-family: RubikVariable;
    src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--background-img);
    background-size: cover;
    background-color: var(--background-color);
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100dvh;
    font-family: "RubikVariable", sans-serif;
}

button{
    font-family: "RubikVariable", sans-serif; 
}

.toggle-container{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
}

.light-dark-container{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.switch{
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.75rem;
    margin: 0 1rem;
}

#display-toggle{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--purple);
    border-radius: 999px;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: var(--pure-white);
    transition: .4s;
}

#display-toggle:checked + .slider {
    background-color: var(--purple);
}

#display-toggle:checked + .slider:before {
    transform: translateX(1.2rem);
}

.quiz-menu{
    width: 80%;
    margin-top: 6rem;
}
.page-container{
    display: flex;
    gap: 5%; 
}

.page-container div {
    width: 50%;
    /* border: 1px solid red; */
}

.welcome-msg{
    font-size: var(--fs-large-heading);
    font-weight: 100;
}

.welcome-msg > strong {
    font-weight: 500;
}

.subtitle{
    font-size: 1.25rem;
    font-weight: 100;
    color: var(--light-bluish);
    margin-top: 3rem;
}

.menu-options, .answers-container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.options{
    background-color: var(--button-background);
    border: none;
    color: var(--primary-text);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 16px 40px 0 var(--box-shadow);
}

.current-quiz-header{
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 1.5rem;
}

.button-title, .answer-choice, .quiz-title{
    font-size: var(--fs-small-heading);
    font-weight: 500;
}

.icon{
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.HTML{
    background-color: #FFF1E9;
}

.CSS {
    background-color: #E0FDEF;
}

.JavaScript{
    background-color: #EBF0FF;
}

.Accessibility {
    background-color: #F6E7FF;
}

.question-count{
    font-size: 1.25rem;
    color: var(--light-bluish);
    font-weight: 100;
    margin-bottom: 1.7rem;
}

.question{
    font-size: var(--fs-medium-heading);
    margin-bottom: 30%;
}

#quiz-progress{
    width: 100%; 
    height: 1rem; 
    border-radius: 999px;
    padding: 0.25rem; 
    background-color: var(--button-background);
}

progress::-webkit-progress-bar {
    background-color: var(--button-background);
    border-radius: 999px;
}

progress::-webkit-progress-value {
    background-color: var(--purple); 
    border-radius: 999px; 
}

progress::-moz-progress-bar {
    background-color: var(--button-background);
    border-radius: 999px;
}
  
progress::-ms-fill {
    background-color: var(--button-background);
    border-radius: 999px;
}

progress::-ms-progress-bar {
    background-color: var(--button-background);
    border-radius: 999px;
}

.option-icon{
    font-size: var(--fs-small-heading);
    color: var(--grey-navy);
    background-color: var(--light-grey);
    min-width: 3.5rem;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.result-icon{
    margin-left: auto;
    display: none;
}

.answers-container{
    width: 100% !important;
    margin-bottom: 5%;
    text-align: right;
}

.answers-container > .options:hover{
    .option-icon{
        background-color: #F6E7FF;
        color: var(--purple);
    }
}

.selected-answer{
    border: 3px solid var(--purple);

    .option-icon{
        background-color: var(--purple);
        color: var(--pure-white);
    }
}

.answers-container > .selected-answer:hover{
    .option-icon{
        background-color: var(--purple);
        color: var(--pure-white);
    }
}

.correct-answer{
    border: 3px solid var(--green);

    .option-icon{
        background-color: var(--green);
        color: var(--primary-text);
    }

    .result-icon{
        display: inline;
    }
}

.incorrect-answer{
    border: 3px solid var(--red);

    .option-icon{
        background-color: var(--red);
        color: var(--primary-text);
    }

    .result-icon{
        display: inline;
    }

}

.display-icon{
    display: inline;
}

#submit-button, #next-button, #play-again{
    font-size: var(--fs-small-heading);
    color: var(--pure-white);
    background-color: var(--purple);
    border: none;
    padding: 1.1em;
    border-radius: 1.5rem;
    cursor: pointer;
    box-shadow: 0 16px 40px 0 var(--box-shadow);
    width: 100%;
}


#submit-button:hover, #next-button:hover, #play-again:hover{
    background-color: #D394FA;
}

.error-container{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem auto;
    font-size: 1.5rem;
}

.error-message{
    white-space: nowrap;
}

.quiz-completed{
    font-size: var(--fs-large-heading);
    font-weight: 100;
}

.you-scored{
    font-size: var(--fs-large-heading);
    font-weight: 500;
}

.score-container{
    width: 100% !important;
    background-color: var(--button-background);
    padding: 2.5rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    box-shadow: 0 16px 40px 0 var(--box-shadow);
}

.current-quiz-result{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100% !important;
}

#quiz-score{ 
    font-size: 9rem;
    margin-bottom: 1rem;
}

.total-questions{
    font-size: 1.5rem;
    color: var(--light-bluish);
}

.hidden{
    display: none;
}

@media(max-width: 48rem){
    * {
        --background-img: url(./assets/images/pattern-background-tablet-dark.svg);
    }

    .lightmode{
        --background-img: url(./assets/images/pattern-background-tablet-light.svg);
    }
     
    .quiz-menu{
        margin-top: 4rem;
    }
    .page-container{
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .page-container div{
        width: 100%;
    }

    .menu-headings, .complete-left{
        margin-bottom: 4rem;
    }

    .question{
        margin-bottom: 8%;
    }

    .questions-container{
        margin-bottom: 4rem ;
    }
}

@media(max-width: 27rem){
    * {
    --fs-large-heading: 2.5rem;
    --fs-medium-heading: 1.25rem;
    --fs-small-heading: 1.125rem;
    --fs-body: 0.75rem;
    --background-img: url(./assets/images/pattern-background-mobile-dark.svg);
    }

    .lightmode{
        --background-img: url(./assets/images/pattern-background-mobile-light.svg);
    }

    .toggle-container{
        margin-top: 2rem;
    }

    .light-dark-container img{
        max-height: 1rem;
    }

    .switch{
        width: 2rem;
        height: 1.25rem;
    }

    .slider:before{
        height: 0.75rem;
        width: 0.75rem;
    }

    #display-toggle:checked + .slider:before {
        transform: translateX(0.7rem);
    }

    #quiz-icon{
        max-height: 2.5rem ;
        margin-left: auto;
    }

    .current-quiz-header{
        gap: 1rem;
    }

    .menu-headings{
        margin-bottom: 2.5rem;
    }
    .subtitle{
        margin-top: 1rem;
    }

    .question-count{
        font-size: 0.875rem;
    }

    .questions-container{
        margin-bottom: 2rem;
    }

    .option-icon, .icon{
        max-height: 2.5rem;
        max-width: 2.5rem;
    }

    .quiz-title{
        margin-right: auto;
    }

    #quiz-score{
        font-size: 5.5rem;
    }

    .total-questions{
        font-size: var(--fs-small-heading);
    }
}